{% extends "base.html" %}
{% block title %} 5/5 실험{% endblock %}

{% block content %}
  <h1>5/5일자 학습 로그</h1>

  <article class="log-entry">
    <h2>2025.5.5 — 지피티 없이 나혼자 이거 추가함</h2>

    <h4>5/5 뭐한거냐면</h4>
    <ul>
      <li>지피티가 아무것도 안알려줬는데</li>
      <li>이거 직접 내가 추가해쪄</li>
      <li>그리고 이제 뭐할거냐면 디자인도 바꾸고 으으으음</li>
      <li>코드를 조금도 연구해야겠어</li>
      <li>화이팅 화이팅 오늘 공부 끝나고나면 또 밑에 추가하자!</li>

    </ul>

    <h4>구현된 기능이.. 무엇이냐구요?</h4>
    <ul>
      <li>new라는 옵션이 새로생겼음</li>
      <li>new라는 페이지에 들어가면 이 텍스트가 뜨면</li>
      <li>은서 의도가 성공한 것임!</li>
      <li>근데 아마 내생각엔 뜰거라고 믿는다.. 이게 언제냐면 참고로</li>
      <li>2025년 5월 5일 밤 10시경입니당</li>
      <li>지금 딱 하나 걸리는게 class가 logentry로 떠가지고 이거 한번만 지금 건드려보자</li>
    </ul>
  </article>
{% endblock %}